<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Nothing</string>
		<key>difficulty</key>
		<string>Medium</string>
		<key>uniqueID</key>
		<string>24-09-2013-13-15-08</string>
		<key>userName</key>
		<string>dusty99</string>
		<key>walkName</key>
		<string>New</string>
	</dict>
</array>
</plist>
