<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Email</key>
		<string></string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dust</string>
		<key>Username</key>
		<string>dust0</string>
	</dict>
	<dict>
		<key>Email</key>
		<string></string>
		<key>Native</key>
		<false/>
		<key>Password</key>
		<string>dust</string>
		<key>Username</key>
		<string>dust11</string>
	</dict>
	<dict>
		<key>Email</key>
		<string></string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dust</string>
		<key>Username</key>
		<string>dust99</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>bdjs</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty</string>
	</dict>
	<dict>
		<key>Email</key>
		<string></string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty01</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>email@gmail.com</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>sugar99</string>
		<key>Username</key>
		<string>dustywayne</string>
	</dict>
	<dict>
		<key>Email</key>
		<string></string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty00</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>jajaha</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty11</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>nxndndn</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty4</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>nsjsjd</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty9</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>ndjdj</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty3</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>sjim@mail.sfsu.edu</string>
		<key>Native</key>
		<false/>
		<key>Password</key>
		<string>M0dest0_99</string>
		<key>Username</key>
		<string>rendalpiper</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>bdjsjdjw</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty2</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>nsnsjd</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dusty</string>
		<key>Username</key>
		<string>dusty8</string>
	</dict>
	<dict>
		<key>Email</key>
		<string>duwadams@ucsc.edu</string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>access987</string>
		<key>Username</key>
		<string>Admin</string>
	</dict>
	<dict>
		<key>Email</key>
		<string></string>
		<key>Native</key>
		<true/>
		<key>Password</key>
		<string>dustin001</string>
		<key>Username</key>
		<string>dustin001</string>
	</dict>
</array>
</plist>
